$primary: #001A26;
$secondary: #EF810E;

@import './MovieCard.scss';
@import './Header.scss';
@import './Navbar.scss';
@import './Catalog.scss';

.primary {
	color: $primary;
}

.secondary { 
	color: $secondary;
}

html,body {
	background-color: $primary;
	background-image: url('/back.png');
	overflow-x: hidden;
}

p {
	color: $secondary;
}
