@import './MovieCard.scss';
@import './Header.scss';

$primary: #001A26;
$secondary: #EF810E;

.primary {
	color: $primary;
}

.secondary { 
	color: $secondary;
}

body {
	background-color: $primary;
}

p {
	color: $secondary;
}

